.student-navbar{
  background-color: rgb(56, 55, 55);
  min-height: max-content;
}

.studentnb-logo{
  height: 60px;
}

.student-link{
  text-decoration: none;
  color: #f3f3f3
}

.studentnb-links{
  float: right;
}

.student-navbar button{
  outline: transparent;
  background-color: transparent;
  border: transparent;
  margin: 15px;
}

.student-navbar button h3{
  display:inline;
  font-weight: lighter;
  font-size: large;
  /* font-family:monospace */
}

.student-navbar button :hover{
  cursor: pointer;
  color: #0d98ba;
  /* und */
}