@import url(//db.onlinewebfonts.com/c/2246d642275618faa05b6c551ed5685f?family=CutoffW01-Regular);

.student-navbar{
  background-color: rgb(56, 55, 55);
  min-height: max-content;
  display: flex;
  min-width: 645px;
}

.studentnb-logo{
  height: 80px;
}

.student-link{
  
  text-decoration: none;
}

.studentnb-links{
  float: right;
  align-self: center;
  margin-left: auto;

}

.student-navbar button{
  outline: transparent;
  background-color: transparent;
  border: transparent;
  margin: 15px;
}

.student-navbar button h3{
  display:inline;
  font-weight: normal;
  font-size: large;
  font-family: 'CutoffW01-Regular';
  font-size: 22px;
  color: white
}

.student-navbar button :hover{
  cursor: pointer;
  color: #0d98ba;
}