.gallery-container{
  text-align: -webkit-center;
  margin-top: 2%
}

.react-photo-gallery--gallery{
  margin-top: 2%;
  margin-right: 5%;
  margin-left:5%
}

#photo-gallery div {
  place-content: center;
}