@import url(//db.onlinewebfonts.com/c/2246d642275618faa05b6c551ed5685f?family=CutoffW01-Regular);

.headerText{
  font-family: 'CutoffW01-Regular';
  font-weight: normal;
  font-size: 45px;
  color: #EB5757;
  margin: auto;
}

.headerLine{
  background-color:#F2994A;
  outline: transparent;
  border: transparent;
  height: 5px;
  float: left;
}
