.files-heading{
  font-weight: 350;
  margin: 15px
}

.files-container{
  display: grid;
  /* background-color: #ecebeb; */
  border-radius: 10px;
  /* grid-template-columns: auto auto; */
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  /* overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: initial; */
}

.dashboard-tab-container{
  /* margin-top: 2%; */
  width: 60%;
  margin: 3% auto;
  background: linear-gradient(45deg, rgba(187,230,232,1) 2%, rgba(34,193,195,1) 30%, rgba(210,109,59,1) 70%, rgba(227,162,131,1) 98%);
  border-radius: 10px;
  padding: 2%;
  text-align: left;
}

.dashboard{
  text-align: center;
}

.dashboard{
  margin-top: 2%
}
