.user-navbar{
  background-color: #f3f3f3;
  min-height: max-content;
}

.usernb-logo{
  height: 60px;
}

h3{
  display:inline;
  font-weight: lighter;
  text-decoration: none;
}

Link{
  text-decoration: none;
}

.usernb-links{
  float: right;
}

.user-navbar button{
  outline: transparent;
  background-color: transparent;
  border: transparent;
  margin: 15px;
}

.user-navbar button h3{
  font-weight: lighter;
  font-size: large;
  /* font-family:monospace */
}

.user-navbar button :hover{
  cursor: pointer;
  color: #0d98ba;
  /* und */
}