.file-object-card{
  background-color: #D3D3D3	;
  margin: 1%;
  max-width: 40%;
  min-width: min-content;

  height: 10vh;
  min-height: 10vh;
  border-radius: 10px;
}

.file-object-title{
  text-align: center;
  font-size: larger;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.file-object-card:hover{
  background-color: #eb5757;
  cursor: pointer;
}