.rounded-img{
  margin: 1rem;
  border-radius: 15px;
  width: 40rem;

  /* height: min-content */
  /* max-width: 700px; */
  /* height: auto; */
  /* object-fit: cover; */
}

.about-us{
  margin-top: 8%;
  /* min-width: 1000px; */
  width: 100%;
  display: inline-flex
}

.about-us-body{
  /* margin-top: 5%; */
}

.about-us-body p, .meet-teacher-body p{
  margin-top: 5%;
  width: 80%;
  font-weight: lighter;
  font-size: 45px;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height:  2;
  text-align: left;

}

.meet-teacher{
  margin: 6rem;
  text-align: center;
}

.meet-teacher-body{
  /* margin-left: 8%; */
  display: inline-flex
}

.meet-teacher-body p{
  width: 90%;
}

@media only screen and (max-width: 1200px) {
  .meet-teacher-body {
    display: contents;
    text-align: left;
  }
  .rounded-img{
    margin: 0;
    width: 30rem;
    height: auto; 
    object-fit: cover;
  }
}

