.admin-navbar{
  background-color: #eb5757;
  min-height: max-content;
  display: flex;
  min-width: 645px;
}

.adminnb-logo{
  height: 80px;
}

.admin-link{
  text-decoration: none;
  color: black;
}

.adminnb-links{
  float: right;
  align-self: center;
  margin-left: auto;
}

.admin-navbar button{
  outline: transparent;
  background-color: transparent;
  border: transparent;
  margin: 15px;
}

.admin-navbar button h3{
  display:inline;
  font-weight: normal;
  font-size: large;
  font-family: 'CutoffW01-Regular';
  font-size: 22px;
  color: white  
}

.admin-navbar button :hover{
  cursor: pointer;
  color: black;
  /* und */
}